<h2 class="font-antonio fw-500 mb-3 fs-1" id="js__name">
  {{name}}
</h2>
<div class="font-spartan fw-400 fs-6">
  {{content}}
  <div class="mt-3">
    Source : <a href="{{{source}}}">Wikipedia</a>
  </div>
</div>