<div class="d-flex justify-content-center align-items-center px-5 my-5 main__image position-relative">
  <img class="img-fluid p-4 p-md-5" src="{{{imageSource}}}" alt="{{name}}" style="{{imageHeight}}"/>
</div>