<ul class="nav nav-underline justify-content-around">
  <li class="nav-item">
    <a
      class="nav-link font-spartan fw-500 text-uppercase active"
      id="overview"
      aria-current="page"
      href="#"
      >Overview</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link font-spartan fw-500 text-uppercase" id="structure" href="#"
      >Structure</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link font-spartan fw-500 text-uppercase" id="surface" href="#"
      >Surface</a
    >
  </li>
</ul>