:root {
  --black: #070724;
  --white: #FFFFFF;
  --green: #419EBB;
  --light-green: #B1D5E2;
}

.font-antonio {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fs-small {
  font-size: 0.75rem;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-bg: var(--black);
}

.navbar--mobile__planets {
  height: 20px; 
  width: 20px; 
  transform: translate(0, -2px);
}

.mercury {
  background-color: #DEF4FC;
}

.venus {
  background-color: #F7CC7F;
}

.earth {
  background-color: #545BFE;
}

.mars {
  background-color: #FF6A45;
}

.jupiter {
  background-color: #ECAD7A;
}

.saturn {
  background-color: #FCCB6B;
}

.uranus {
  background-color: #65F0D5;
}

.neptune {
  background-color: #497EFA;
}

.navbar--mobile__chevron {
  transform: translate(0, -2px);
}

.footer__box {
  height: 48px;
}

.main__image {
  height: 260px
}